html {
	box-sizing: border-box;
	height: 100%;
	padding: 0;
	margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.menu {
	display: inline;
	text-align: right;
	width: 33%;
	margin-top: 43px;
	margin-right: 100px;
	font-size: 20px;
}

.logo {
	width: 33%;
}

.name {
	width: 33%;
	margin-left: 120px;
	margin-top: 35px;
}

a {
	color: #7a53d7;
}

main {
	text-align: center;
	color: #b95e69;
	line-height: 30px;
	flex: 1 0 auto;
}

header {
	flex-grow: 0;
	flex-shrink: 0;
	padding: 10px;
	background-color: rgba(149, 141, 230, 0.2);
}

.text {
	margin-top: 50px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

table {
	width: 60%;
	margin: auto;
	margin-left: 190px;
	border-collapse: separate; /* Обязательно для border-spacing */
	border-spacing: 10px;
	
}

td {
	text-align: center;
	line-height: 24px;
}

/* From Uiverse.io by alexruix */ 
.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 max-width: 210px;
}

.input {
 width: 100%;
 height: 40px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(201,86,86,0.4);
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(201 86 86 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
}

.footer {
	flex-grow: 0;
	flex-shrink: 0;
	padding: 40px;
	background-color: rgba(149, 141, 230, 0.2);
}




